.grid-container{
    display: grid;
    grid-template-columns: 10vw 100vw;
    grid-template-rows: 100vh;
}

.sidebar{
    margin-left: 20px
    
}

/* #map {
    position: absolute;
    width: 100%;
    height: 100%;
} */
#info {
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 100;
}
.tooltip {
    font-size: 100%;
    text-align: center;
    width: 25%;
}
.tooltip.in {
    opacity: 1;
    position: absolute;
}
.tooltip.top .tooltip-arrow {
    border-top-color: white;
}
.tooltip-inner {
    border: 2px solid white;
    /* font-size: 80%; */
    /* white-space: pre-wrap; */
    position: relative;
    max-width: 300px;
    max-height: 1000px;
}

.tooltip-content {
    white-space: pre-line;
}

.datepicker.dropdown-menu {
    font-size: 80px;
}

.form-control {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  bottom: 0;
  position: absolute;
  margin-top: 16px;
  right: 0px;
  width: 50%;
  z-index: 15;
  background: rgba(247, 246, 246, 1);

}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  /* padding: 1px 1px; */
  border: none;
  cursor: pointer;
  /* width: 100%; */
  /* height: 10px;
  margin-bottom:1px; */
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Testing new messaging look */

.received_msg {
  display: inline-block;
  padding: 0 0 0 5px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 10px;
  margin: 0;
  padding: 5px 5px 5px 5px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 8px;
  margin: 3px 0 0;
}
.mesgs {
  float: center;
  padding: 2px 2px;
  width: 95%;
  height: 82%;
  background:#fff; 
  margin: 0 auto;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 12px;
  min-height: 48px;
  width: 90%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: absolute;
    width: 95%;
    bottom: 0;
}
.input_msg_write .btn-sm {
  background: #05728f;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 2px;
  margin: auto;
}

.chat-popup .btn-danger {
    background-color: red;
    color: white;
    /* padding: 16px 20px; */
    border: none;
    cursor: pointer;
    opacity: 0.8;
    left: 3%;
    position: absolute;
    top: 1%;
    
  }


.msg_history {
  height: 100%;
  bottom: 0;
  overflow-y: auto;