* {
    box-sizing: border-box
}

body{
    margin: 0;
    padding: 0
}

.grid-container{
    display: grid;
    grid-template-columns: 10vw 100vw;
    grid-template-rows: 100vh;
}

.sidebar{
    margin-left: 20px
    
}