{% extends "layout.html" %}

{% block body %}
    <div id="map" class='map'>
    <div id="info" class="info" data-html="true"></div>
    <container class="chat-popup" id="chatbox">
        <p class="display-5" style='text-align: center;' id='match'></p>
        <button type="button" class="btn btn-danger btn-sm" id="closeChat">Close</button>
        <button type="button" class="btn btn-warning btn-sm" id="msg_hl_switcher">Highlights</button>
        <div class="mesgs">
            <div class="msg_history" id="msg_history">
              <!-- Message History  -->
            </div>
            <div class="hl_history" id="hl_history">
              <!-- Highlights -->
            </div>
            <div class="type_msg">
              <div class="input_msg_write">
                <input type="text" class="write_msg" id="messagebox" placeholder="Type a message" />
                <button type="button" class="btn btn-sm" id='send'>Send</button>
              </div>
            </div>
        </div>
    </container>
    </div>

{% endblock %}
